<div class="container">
  <div class="row">
    <app-show-form [formValues]='firstName'></app-show-form>
    <div class='col-12' style="background-color: lightgray;">
      <div class='text-center p-2'>
        <h1>Sign up</h1>
        <hr>
      </div>
      <div class='col-6 p-2'>
        <div class="mb-3">
          <label for="firstName" class="form-label">First name</label>
          <input type="text" class="form-control" id="firstName" [(ngModel)]='firstName'  placeholder="Enter first name">
        </div>
        <div class="mb-3">
          <label for="lasttName" class="form-label">Last name</label>
          <input type="text" class="form-control" id="lasttName" [(ngModel)]='lastName'  placeholder="Enter last name">
        </div>
        <div class="mb-3">
          <label for="screenName" class="form-label">Screen name</label>
          <input type="text" class="form-control" id="screenName" [(ngModel)]='screenName' placeholder="Enter screen name">
        </div>
        <div class='mb-2'>
          <label>Date of birth</label>

          <input angular-mydatepicker name="mydate" [(ngModel)]="model" [options]="myDatePickerOptions"
            #dp="angular-mydatepicker" />
          <button type="button" (click)="dp.openCalendar()">Open</button>

          <!-- call the closeCalendar() function -->
          <button type="button" (click)="dp.closeCalendar()">Close</button>

          <!-- call the toggleCalendar() function -->
          <button type="button" (click)="dp.toggleCalendar()">Toggle</button>

          <!-- call the clearDate() function -->
          <button type="button" (click)="dp.clearDate()">Clear</button>
        </div>
        <div class='mb-2'>
          <label>Gender</label>
          <label style="margin: 0px;width:12%">
            <input type="radio" value="Male" name="gender" style="margin-right: 4px;" />Male
          </label>
          <label style="margin: 0px;width:12%">
            <input type="radio" value="female" style="margin-right: 4px;" name="gender" />Female
          </label>
        </div>
        <div class='mb-2'>
          <label>Country</label>
          <select class="mySelect" id='country' onclick="countryChange()">
            <option>India</option>
            <option>China</option>
            <option>USA</option>
            <option>UK</option>
            <option>Germany</option>
          </select>
        </div>
        <div class='mb-2'>
          <label>Email</label>
          <input type="text" placeholder="Enter email" />
        </div>
        <div class='mb-2'>
          <label>Phone</label>
          <input type="text" placeholder="Enter phone number" />
        </div>
        <div class='mb-2'>
          <label>Password</label>
          <input type="password" placeholder="Enter password" />
        </div>
        <div class='mb-2'>
          <label>Confirm Password</label>
          <input type="password" placeholder="Confirm password" />
        </div>
        <div class='mb-2'>
          <label>
            <input type="checkbox" />I agree to the Terms of use
          </label>
        </div>
        <hr>
      </div>
      <div class='float-end p-2'>
        <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-danger text-capitalize">reset</button>
        <button type="submit" class="btn btn-secondary text-uppercase">Cancel</button>
      </div>
    </div>
  </div>
</div>