<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <app-form></app-form>
      </div>
      <div class="col-6">
        <app-form></app-form>
      </div>
    </div>
  </div>